* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: hsl(359, 100%, 100%);
}

/* Responsive Breakpoints  */
$bp-large:62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px


html {
  font-size: 62.5%;
  box-sizing: border-box;
}


body {
  background-color: hsl(0, 100%, 74%);
  background-image: url('../images/bg-intro-desktop.png');
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


.main {
  max-width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-content: center;
  @media only screen and (max-width: $bp-large){
    grid-template-columns: 1fr;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 4rem 1rem 7rem;
    justify-content: center;
    @media only screen and (max-width: $bp-large){
      align-items: center;
    }
    @media only screen and (max-width: $bp-small){
      padding: 1rem 1rem 3rem 1rem;
    }
    &--title {
      & h1 {
        font-size: 4rem;
        color: var(--white);
        line-height: 1.2;
        @media only screen and (max-width: $bp-small){
          font-size: 3rem;
          text-align: center;
        }
      }
      & span {
        display: block;
      }
    }
    &--content {
      @media only screen and (max-width: $bp-large){
        text-align: center;
      }
      & p {
        font-size: 1.4rem;
        color: var(--white);
        @media only screen and (max-width: $bp-small){
          font-size: 1.4rem;
          line-height: 2;
        }
      }
    }
  }
  &__register {
    padding: 1rem;
    width: 80%;
    @media only screen and (max-width: $bp-large){
      width: 60%;
      justify-self: center;
    }
    @media only screen and (max-width: $bp-small){
      width: 95%;
    }
    &--trial {
      padding: 1.6rem 3rem;
      background-color: var(--blue);
      margin-bottom: 2rem;
      color: var(--white);
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 .7rem 0 hsla(249, 10%, 26%, 0.235);
      font-size: 1.2rem;
      font-weight: 700;
      @media only screen and (max-width: $bp-small){
        padding: 1.6rem 4.9rem;
        font-size: 1.6rem;
      }
      & span {
        font-weight: 300;
        color: var(--grayish-blue);
      }
    }
    &--form {
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 2.5rem;
      border-radius: 5px;
      box-shadow: 0 .7rem 0 hsla(249, 10%, 26%, 0.235);
      &-group {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        &_input {
          border-radius: 5px;
          border: 1px solid rgba(0, 0, 0, 0.242);
          display: flex;
          align-items: center;
          padding-right: 3rem;
          height: 4.6rem;
          & input {
            flex: 1;
            padding: 1.4rem 2rem;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.242);
            border: none;
          }
          & input:focus {
            outline: none;
          }
        }
        &_input:focus-within {
          border: 1px solid var(--dark-blue);
        }
        & p {
          align-self: flex-end;
          color: var(--red);
          font-size: .8rem;
          font-weight: 600;
        }
      }
    
      & button {
        background-color: var(--green);
        padding: 1.6rem 3rem;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        color: var(--white);
        cursor: pointer;
        box-shadow: 0 .4rem 0 hsla(0, 100%, 74%, 0.602);
        transition: all .3s ease;
      }
      & button:hover {
        background-color: hsla(154, 59%, 51%, 0.748);
      }
      &-terms {
        text-align: center;
        font-size: .9rem;
        color: var(--grayish-blue);
        & span {
          color: var(--red);
          font-weight: 700;
        }
      }
    }
  }
}

.attribution {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--dark-blue);
  & a:link,
  a:visited {
    text-decoration: none;
    color: var(--blue);
  }
}



.hidden {
  display: none;
}